@import "setup";
@import "variables";
@import "header";
@import "controls";
@import "synth";
@import "mediaqueries";

body {
  background-color: $nearblack;
  background-image: url(../assets/images/outrun.jpg);
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-position: cover;
  color: $offwhite;
  font-family: "Roboto", sans-serif;
  font-size: calc(1rem + 0.7vw);
  text-align: center;
}

.wrapper {
  width: 80%;
  max-width: 100rem;
  margin: auto;
}

section {
  padding: 1%;
}

a {
  color: $pink;
}
