html {
  line-height: 1.15;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  padding: 4vh;
}

h1 {
  font-size: calc(8rem + 1vw);
  font-family: "Audiowide", cursive;
  margin: 0;
  position: relative;
}

h1::before, h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1::before {
  left: 2px;
  text-shadow: -2px 0 #49fc00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

h1::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

h1 span {
  color: #ff1493;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(40px, 9999px, 150px, 0);
  }
  4.166666666666666% {
    clip: rect(21px, 9999px, 146px, 0);
  }
  8.333333333333332% {
    clip: rect(115px, 9999px, 14px, 0);
  }
  12.5% {
    clip: rect(24px, 9999px, 80px, 0);
  }
  16.666666666666664% {
    clip: rect(42px, 9999px, 108px, 0);
  }
  20.833333333333336% {
    clip: rect(121px, 9999px, 28px, 0);
  }
  25% {
    clip: rect(125px, 9999px, 22px, 0);
  }
  29.166666666666668% {
    clip: rect(65px, 9999px, 33px, 0);
  }
  33.33333333333333% {
    clip: rect(56px, 9999px, 121px, 0);
  }
  37.5% {
    clip: rect(17px, 9999px, 120px, 0);
  }
  41.66666666666667% {
    clip: rect(107px, 9999px, 101px, 0);
  }
  45.83333333333333% {
    clip: rect(7px, 9999px, 138px, 0);
  }
  50% {
    clip: rect(64px, 9999px, 66px, 0);
  }
  54.166666666666664% {
    clip: rect(63px, 9999px, 51px, 0);
  }
  58.333333333333336% {
    clip: rect(11px, 9999px, 26px, 0);
  }
  62.5% {
    clip: rect(90px, 9999px, 106px, 0);
  }
  66.66666666666666% {
    clip: rect(146px, 9999px, 107px, 0);
  }
  70.83333333333334% {
    clip: rect(65px, 9999px, 150px, 0);
  }
  75% {
    clip: rect(109px, 9999px, 62px, 0);
  }
  79.16666666666666% {
    clip: rect(104px, 9999px, 25px, 0);
  }
  83.33333333333334% {
    clip: rect(2px, 9999px, 85px, 0);
  }
  87.5% {
    clip: rect(149px, 9999px, 128px, 0);
  }
  91.66666666666666% {
    clip: rect(118px, 9999px, 149px, 0);
  }
  95.83333333333334% {
    clip: rect(92px, 9999px, 108px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 103px, 0);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(40px, 9999px, 150px, 0);
  }
  4.166666666666666% {
    clip: rect(21px, 9999px, 146px, 0);
  }
  8.333333333333332% {
    clip: rect(115px, 9999px, 14px, 0);
  }
  12.5% {
    clip: rect(24px, 9999px, 80px, 0);
  }
  16.666666666666664% {
    clip: rect(42px, 9999px, 108px, 0);
  }
  20.833333333333336% {
    clip: rect(121px, 9999px, 28px, 0);
  }
  25% {
    clip: rect(125px, 9999px, 22px, 0);
  }
  29.166666666666668% {
    clip: rect(65px, 9999px, 33px, 0);
  }
  33.33333333333333% {
    clip: rect(56px, 9999px, 121px, 0);
  }
  37.5% {
    clip: rect(17px, 9999px, 120px, 0);
  }
  41.66666666666667% {
    clip: rect(107px, 9999px, 101px, 0);
  }
  45.83333333333333% {
    clip: rect(7px, 9999px, 138px, 0);
  }
  50% {
    clip: rect(64px, 9999px, 66px, 0);
  }
  54.166666666666664% {
    clip: rect(63px, 9999px, 51px, 0);
  }
  58.333333333333336% {
    clip: rect(11px, 9999px, 26px, 0);
  }
  62.5% {
    clip: rect(90px, 9999px, 106px, 0);
  }
  66.66666666666666% {
    clip: rect(146px, 9999px, 107px, 0);
  }
  70.83333333333334% {
    clip: rect(65px, 9999px, 150px, 0);
  }
  75% {
    clip: rect(109px, 9999px, 62px, 0);
  }
  79.16666666666666% {
    clip: rect(104px, 9999px, 25px, 0);
  }
  83.33333333333334% {
    clip: rect(2px, 9999px, 85px, 0);
  }
  87.5% {
    clip: rect(149px, 9999px, 128px, 0);
  }
  91.66666666666666% {
    clip: rect(118px, 9999px, 149px, 0);
  }
  95.83333333333334% {
    clip: rect(92px, 9999px, 108px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 103px, 0);
  }
}

@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(121px, 9999px, 130px, 0);
  }
  10% {
    clip: rect(100px, 9999px, 102px, 0);
  }
  13.333333333333334% {
    clip: rect(121px, 9999px, 5px, 0);
  }
  16.666666666666664% {
    clip: rect(84px, 9999px, 61px, 0);
  }
  20% {
    clip: rect(138px, 9999px, 56px, 0);
  }
  23.333333333333332% {
    clip: rect(44px, 9999px, 74px, 0);
  }
  26.666666666666668% {
    clip: rect(94px, 9999px, 63px, 0);
  }
  30% {
    clip: rect(58px, 9999px, 79px, 0);
  }
  33.33333333333333% {
    clip: rect(42px, 9999px, 119px, 0);
  }
  36.666666666666664% {
    clip: rect(90px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 120px, 0);
  }
  43.333333333333336% {
    clip: rect(87px, 9999px, 95px, 0);
  }
  46.666666666666664% {
    clip: rect(62px, 9999px, 11px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 48px, 0);
  }
  53.333333333333336% {
    clip: rect(4px, 9999px, 149px, 0);
  }
  56.666666666666664% {
    clip: rect(15px, 9999px, 57px, 0);
  }
  60% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  63.33333333333333% {
    clip: rect(43px, 9999px, 107px, 0);
  }
  66.66666666666666% {
    clip: rect(147px, 9999px, 71px, 0);
  }
  70% {
    clip: rect(83px, 9999px, 104px, 0);
  }
  73.33333333333333% {
    clip: rect(30px, 9999px, 30px, 0);
  }
  76.66666666666667% {
    clip: rect(67px, 9999px, 14px, 0);
  }
  80% {
    clip: rect(104px, 9999px, 61px, 0);
  }
  83.33333333333334% {
    clip: rect(102px, 9999px, 146px, 0);
  }
  86.66666666666667% {
    clip: rect(130px, 9999px, 56px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 81px, 0);
  }
  93.33333333333333% {
    clip: rect(145px, 9999px, 84px, 0);
  }
  96.66666666666667% {
    clip: rect(44px, 9999px, 16px, 0);
  }
  100% {
    clip: rect(39px, 9999px, 99px, 0);
  }
}

@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(121px, 9999px, 130px, 0);
  }
  10% {
    clip: rect(100px, 9999px, 102px, 0);
  }
  13.333333333333334% {
    clip: rect(121px, 9999px, 5px, 0);
  }
  16.666666666666664% {
    clip: rect(84px, 9999px, 61px, 0);
  }
  20% {
    clip: rect(138px, 9999px, 56px, 0);
  }
  23.333333333333332% {
    clip: rect(44px, 9999px, 74px, 0);
  }
  26.666666666666668% {
    clip: rect(94px, 9999px, 63px, 0);
  }
  30% {
    clip: rect(58px, 9999px, 79px, 0);
  }
  33.33333333333333% {
    clip: rect(42px, 9999px, 119px, 0);
  }
  36.666666666666664% {
    clip: rect(90px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 120px, 0);
  }
  43.333333333333336% {
    clip: rect(87px, 9999px, 95px, 0);
  }
  46.666666666666664% {
    clip: rect(62px, 9999px, 11px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 48px, 0);
  }
  53.333333333333336% {
    clip: rect(4px, 9999px, 149px, 0);
  }
  56.666666666666664% {
    clip: rect(15px, 9999px, 57px, 0);
  }
  60% {
    clip: rect(42px, 9999px, 3px, 0);
  }
  63.33333333333333% {
    clip: rect(43px, 9999px, 107px, 0);
  }
  66.66666666666666% {
    clip: rect(147px, 9999px, 71px, 0);
  }
  70% {
    clip: rect(83px, 9999px, 104px, 0);
  }
  73.33333333333333% {
    clip: rect(30px, 9999px, 30px, 0);
  }
  76.66666666666667% {
    clip: rect(67px, 9999px, 14px, 0);
  }
  80% {
    clip: rect(104px, 9999px, 61px, 0);
  }
  83.33333333333334% {
    clip: rect(102px, 9999px, 146px, 0);
  }
  86.66666666666667% {
    clip: rect(130px, 9999px, 56px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 81px, 0);
  }
  93.33333333333333% {
    clip: rect(145px, 9999px, 84px, 0);
  }
  96.66666666666667% {
    clip: rect(44px, 9999px, 16px, 0);
  }
  100% {
    clip: rect(39px, 9999px, 99px, 0);
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  margin: 0 0 2rem;
}

select {
  -webkit-appearance: initial;
  padding: 1rem 12rem 1rem 3rem;
  border: 0.2rem solid #ff1493;
  border-radius: 0.5rem;
  background: #eee;
  color: #222;
  font-family: inherit;
}

.custom-select {
  position: relative;
  margin: 0 0 4rem;
}

.arrow {
  position: absolute;
  top: 0;
  right: -0.1rem;
  display: block;
  background: #222;
  border: 0.2rem solid #ff1493;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 100%;
  width: 4rem;
  pointer-events: none;
}

.arrow::before, .arrow::after {
  --size: 0.6rem;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #ff1493;
  top: 40%;
}

.arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #ff1493;
  top: 60%;
}

.overlay {
  margin: 4rem 0 0;
  padding: 1.5rem 4rem;
  border: 0.2rem solid #ff1493;
  border-radius: 0.5rem;
  background: #222;
  color: #eee;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.overlay:hover, .overlay:focus {
  background-color: #75f4f4;
  color: #222;
}

.letter {
  font-family: "Space Grotesk";
  display: none;
  font-size: 2vw;
  margin: 1vw 0;
}

.show {
  display: block;
}

.synth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.2vw solid #ff1493;
  border-radius: 0 0 0.6vw 0.6vw;
}

.key.white {
  width: 6vw;
  height: 20vw;
  background: #eee;
  color: #222;
  margin: 0 -0.1vw 0;
}

.key.black {
  width: 4vw;
  height: 12vw;
  background: #222;
  color: #eee;
  margin: 0 -2vw 0;
  z-index: 1;
}

.key.pressed {
  background: #75f4f4;
}

@media (max-width: 80rem) {
  h1 {
    font-size: calc(5rem + 1vw);
  }
}

@media (max-width: 40rem) {
  h1 {
    font-size: calc(3rem + 1vw);
  }
}

body {
  background-color: #222;
  background-image: url(../assets/images/outrun.jpg);
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-position: cover;
  color: #eee;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.wrapper {
  width: 80%;
  max-width: 100rem;
  margin: auto;
}

section {
  padding: 2%;
}

a {
  color: #ff1493;
}
